*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
}
body {
    font-family: 'Alfa Slab One', cursive;
}

#block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.person{
width: 48%;
text-align: center;
height: 120px;
border: 2px solid;
margin: 5px;
overflow: hidden;
border-radius: 40px;
}
.personImg{
    width: 150px;
    float: left;
    margin-bottom: 15px;
}
